step_functions/scan_repeater.asl.yaml
Comment: Constant scanner for Red Alert
StartAt: CreateArray
States:
  CreateArray:
    Type: Pass
    Next: Sempaphore
    Parameters:
      steps.$: States.ArrayRange(1, $.stepCount, 1)
  Sempaphore:
    Type: Map
    ItemProcessor:
      ProcessorConfig:
        Mode: INLINE
      StartAt: Lambda Invoke
      States:
        Lambda Invoke:
          Type: Task
          Resource: arn:aws:states:::lambda:invoke
          OutputPath: $.Payload
          Parameters:
            FunctionName: ${scannerFunctionArn}
            Payload: {}
          Retry:
            - ErrorEquals:
                - Lambda.ServiceException
                - Lambda.AWSLambdaException
                - Lambda.SdkClientException
                - Lambda.TooManyRequestsException
              IntervalSeconds: 1
              MaxAttempts: 3
              BackoffRate: 2
          Next: Wait
        Wait:
          Type: Wait
          Seconds: 1
          End: true
    ItemsPath: $.steps
    MaxConcurrency: 1
    End: true
